/* .vitepress/theme/custom.css */
:root {
    --vp-c-brand: #FD5000;
    
    --vp-button-brand-border: var(--vp-c-brand);

    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient( -135deg, #FD5000 50%, #ff0000 100%);

    --vp-button-brand-hover-border: var(--vp-c-brand);
    --vp-button-brand-hover-bg: #FD3B00;

    --vp-button-brand-active-border: var(--vp-c-brand);
    --vp-button-brand-active-bg: var(--vp-c-brand);

    --vp-custom-block-tip-border: var(--vp-c-brand);
    --vp-custom-block-tip-text: var(--vp-c-brand);
    --vp-custom-block-tip-bg: #FCEEE8;
}
